<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/base.css">
</head>

<body>
    <header>
      <a href="/">Zeus</a>
      <div class="search-container">
        <nav><input type="text" class="search-input"></nav>
        <div class="search-results">
          <ul class="search-list">
          </ul>
        </div>
      </div>
    </header>
    <div class="page">
        <div class="index">
            {{ table }}
        </div>
        <main class="content">
            {{ page }}
        </main>
    </div>


</body>

<script src="/fuse.js"></script>
<script src="/search.js"></script>

<script>
  const evtSource = new EventSource("/sse");
  evtSource.addEventListener("reload", (event) => {
    evtSource.close()
    window.location.reload();
  });
</script>


</html>
