<ul>
    {% for child in root.children %}
        <li>
            <a 
                {% match child %} 
                    {% when Section with (section) %}
                        {% if &section.body == curr_page %}
                            class="current"
                        {% endif %}
                        href="{{section.body.loc.url()}}">{{ section.body.title }}
                    {% when Page with (page) %}
                        {% if page == curr_page %}
                            class="current"
                        {% endif %}
                        href="{{page.loc.url()}}">{{ page.title }}
                {% endmatch %}
            
            </a>
        </li>
    {% endfor %}
</ul>
